# IDE
.idea
.zed
.vscode

images
buildroot-images
solutions/
src/*/app
.obj
.deleted

.DS_Store

solutions/**/.Module.*
solutions/**/Module.symvers
solutions/**/.mymodule.*
solutions/**/mymodule.*
solutions/**/.modules.*
solutions/**/.*.cmd*
solutions/**/app
solutions/**/core
solutions/**/modules.order
solutions/**/.skeleton.*

src/**/*.o
src/**/*.dtb
src/**/*.ovl

src/**/.Module.*
src/**/Module.symvers
src/**/.mymodule.*
src/**/mymodule.*
src/**/.modules.*
src/**/.*.cmd*
src/**/app
src/**/core
src/**/modules.order
src/**/.skeleton.*

solutions/02_modules/procstat/procstat
solutions/02_modules/procstat/procstat_s

solutions/03_drivers/sample01/main1
solutions/03_drivers/sample01/main2
solutions/03_drivers/sample01/main3

.zig-cache

solutions/**/build

/SOLUTION

boot-scripts/boot.cifs
boot-scripts/boot.net

doc/**/*.pdf

build
src/03-led-controller/led-controller
